.transaction-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .transaction-form-wrapper {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        .input-section {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 8px;
            .button-wrapper {
                width: 100%;
                padding: 32px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
