html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 32px;
}

:root {
    --primary-blue-dark: #041b2d;
    --primary-red: #ff4136;
}

.mat-mdc-raised-button[disabled] {
    color: #ffffffbe !important;
    background-color: #9c0240 !important;
}

.error-snack-bar {
    background-color: var(--primary-red) !important;
}

.snack-bar {
    background-color: var(--primary-blue-dark) !important;
}

.mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: transparent;
}
