<div class="card transaction-wrapper">
    <div>
        <p>Name of transaction</p>
        <p class="f-large">{{transaction.title}}</p>
    </div>
    <div>
        <p>Address of transaction</p>
        <p class="f-large">{{transaction.address}}</p>
    </div>
    <div>
        <p>Amount of transaction</p>
        <p class="f-large">{{transaction.amount}}</p>
    </div>
    <div>
        <p>Date of transaction</p>
        <p class="f-large">{{transaction.transationDate | date:'short'}}</p>
    </div>
    <button mat-raised-button color="warn" (click)="delete()">Delete</button>

</div>