<div class="login-wrapper">
    <form class="registration-form-wrapper card" [formGroup]="registrationForm" (ngSubmit)="submit()">
        <div>
            <p class="f-big">Create account</p>
            <p>Don't have an account yet? Sign up now!</p>
        </div>

        <div class="input-section">
            <mat-form-field class="example-full-width">
                <mat-label>User name</mat-label>
                <input type="text" matInput formControlName="userName" placeholder="User name">
                @if (registrationForm.get('userName')?.hasError('required')) {
                <mat-error>User name is required</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="text" matInput formControlName="password" placeholder="Password">
                @if (registrationForm.get('password')?.hasError('required')) {
                <mat-error>password is required.</mat-error>
                }
                @else if (registrationForm.get('password')?.hasError('minlength')) {
                <mat-error>Passwords must be at least 6 characters.</mat-error>
                }
                @else if (registrationForm.get('password')?.hasError('requireNonAlphanumeric')) {
                <mat-error>Passwords must have at least one non alphanumeric character.</mat-error>
                }
                @else if (registrationForm.get('password')?.hasError('requireNumber')) {
                <mat-error>Passwords must have at least one digit (0-9).</mat-error>
                }
                @else if (registrationForm.get('password')?.hasError('requireUperCase')) {
                <mat-error>Passwords must have at least one uppercase (A-Z).</mat-error>
                }
                @else if (registrationForm.get('password')?.hasError('requireLowerCase')) {
                <mat-error>Passwords must have at least one lowercase (a-z).</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Confirm password</mat-label>
                <input type="text" matInput formControlName="confirmPassword" placeholder="Confirm password">
                @if (registrationForm.get('confirmPassword')?.hasError('required')) {
                <mat-error>confirm password is required</mat-error>
                }
            </mat-form-field>

            <button mat-raised-button [disabled]="registrationForm.invalid" type="submit" x
                color="primary">Registration</button>
            <p>You have an account? <a routerLink="/login">Sign in!</a></p>
        </div>
    </form>
</div>