<div class="user-dashboard-wrapper">
    <div class="total-amount-info-wrapper">
        <mat-card>
            <p>Yout total amount of money</p>
            <p class="f-xbig">
                {{totalAmount}}
            </p>

            <a routerLink="/transaction-form">
                <button mat-raised-button type="submit" color="primary">Add new
                    transaction</button>
            </a>
        </mat-card>
    </div>
    <div class="transactions-warpper">
        @for (transaction of (transactions$ | async); track transaction.id) {

        <transaction [transaction]="transaction" (onDeleted)="delete($event)"></transaction>

        } @empty {
        <p class="f-big">Empty list of transactions</p>
        }
        <div>
        </div>
    </div>
</div>